@import 'atreyu';
// font-family: 'atreyuregular';

@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Fondamento|Macondo');
// font-family: 'Macondo', cursive;
// font-family: 'Fondamento', cursive;
// font-family: 'Eagle Lake', cursive;

$font__head: 'Macondo', cursive;
$font__logo: 'atreyuregular';
$font__main: 'Fondamento', cursive;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
