.kk-logo {
    font-family: $font__logo;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    width: 70vw;
    text-align: center;
    margin-left: -10vw;

    @media screen and (max-width:767px) {
        visibility: hidden;
        width: 80vw;
        font-size: 1.5rem;
        margin-left: 0;
    }
    &:hover {
        cursor: pointer;
    }
    span:not(:last-child) {
        margin-right: -0.25rem;
    }
}
