.authors-and-books {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20vw;

    @media screen and (max-width:767px) {
        width: 10vw;
    }
}

#authors {
    position: relative;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

    .svg {
        width: 2rem;
        height: 2rem;
        background: url('../images/characters.svg') center center no-repeat;
        background-size: contain;
    }
    &:hover {
        cursor: pointer;
    }
    @media screen and (max-width:767px) {
        margin-right: 0.5rem;

        .svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.authors-menu {
    display: none;
    margin: 0;
    padding: 2.5rem 5rem;
    position: absolute;
    z-index: 100;
    top: 10vh;
    left: 2.5vw;
    bottom: 2.5vh;
    right: 2.5vw;
    width: 95vw;
    height: 85vh;
    border-radius: 7px;
    background: $black;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('../images/flowry.svg') center center no-repeat;
        background-size: cover;
        opacity: 0.1;
    }
    &:after {
        content: "";
        position: absolute;
        left: 2.5rem;
        transform: translateX(-15px);
        display: block;
        width: 0;
        top: -15px;
        bottom: auto;
        border-width: 0 15px 15px;
        border-style: solid;
        border-color: $black transparent;
    }
    #menu-authors {
        margin: 0;
        padding: 0;
        list-style: none;
        column-count: 3;

        .menu-item {
            width: 100%;
            margin: 0;
            padding: 1.5rem 0;

            a {
                color: $white;
                font-size: 2rem;
                font-family: $font__head;
                text-decoration: none;
                line-height: 2;
                padding: 1rem 0;

                .menu-image {
                    width: 5rem;
                    height: 5rem;
                    margin-right: 1rem;
                    border-radius: 500px;
                    filter: grayscale(1);
                }
            }
            &:hover {
                cursor: pointer;

                .menu-image {
                    filter: none;
                }
            }
        }
    }
}

#books {
    position: relative;
    padding: 0.5rem;

    @media screen and (max-width:767px) {
        margin-right: 0.5rem;

        .svg {
            width: 1rem;
            height: 1rem;
        }
    }
    .svg {
        width: 2rem;
        height: 2rem;
        background: url('../images/books.svg') center center no-repeat;
        background-size: contain;
    }
    &:hover {
        cursor: pointer;
    }
    &.active {
        // font-weight: bold;
    }
    .books-menu {
        display: none;
        margin: 0;
        padding: 1rem 0.5rem;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border-radius: 1rem;
        text-align: center;
        min-width: 250px;

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-15px);
            display: block;
            width: 0;
            top: -15px;
            bottom: auto;
            border-width: 0 15px 15px;
            border-style: solid;
            border-color: white transparent;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0;
                padding: 0.5rem 0;
                text-align: center;

                a {
                    text-decoration: none;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }
    @media screen and (max-width:767px) {
        margin-right: 0.5rem;

        .svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.page-toggle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10vw;
}

#pages {
    position: relative;
    width: 2.5rem;
    height: 1.5rem;

    .menubar {
        width: 100%;
        height: 2px;
        position: absolute;
        background: #0a0a0a;
        border-radius: 1.5px;

        &.nav-one {
            top: 0;
        }
        &.nav-two {
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &.nav-three {
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &.nav-four {
            bottom: 0;
        }
    }
    &:hover {
        cursor: pointer;
    }
    &.active {
        // font-weight: bold;
    }
    .pages-menu {
        display: none;
        margin: 0;
        padding: 1rem 0.5rem;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border-radius: 1rem;
        text-align: center;
        min-width: 250px;

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-15px);
            display: block;
            width: 0;
            top: -15px;
            bottom: auto;
            border-width: 0 15px 15px;
            border-style: solid;
            border-color: white transparent;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0;
                padding: 0.5rem 0;
                text-align: center;

                a {
                    text-decoration: none;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }
    @media screen and (max-width:767px) {
        width: 2rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
    			padding: 0.5rem 1rem;
    			background: white;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
