.kk-quote {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    
    .character {
        position: relative;
        margin: 0;
        padding: 1rem 0;

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url('../images/flowry.svg') center center no-repeat;
            background-size: contain;
            opacity: 0.033;
        }
       
        .likeness {
            position: relative;
            z-index: 10;
            margin: 0;

            img {
                width: 10rem;
                height: 10rem;
                padding: 0.75rem;
                background: $white;
                border-radius: 500px;
                // filter: grayscale(1);
                box-shadow: 0 0 1rem $black inset;
            } 
        }
    }
    .quote {
        margin: 0 auto 2.5rem;
        width: 57%;
        color: $black;
        font-size: 1.7rem;
        font-family: $font__main;
        line-height: 1.25;

        p {
            margin-bottom: 0;
        }
    }
    .name {
        margin-bottom: 2.5rem;
        color: lighten($black, 20%);

        a {
            color: lighten($black, 20%);
            text-decoration: none;
            font-weight: bold;
        }
    }
    @media screen and (max-width:767px) {
        height: 90vh;
        padding: 7rem 0 5rem;
        
        .character {
            // margin-top: 15rem;
            margin-bottom: -1.5rem;
        }
        .quote {
            width: 90vw;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            text-align: justify;
        }
        .name {
            font-size: 0.75rem;
            margin-bottom: 0;
        }
    }
}

.another-quote {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .button {
        display: flex;
        padding: 1rem 2.5rem;
        color: lighten($black, 25%);;
        text-decoration: none;
        background: $white;
        border: 1px solid lightgray;

        @media screen and (max-width:767px) {
            padding: 0.5rem 1.5rem;
        }
        &:active {
            transform: scale(0.9);
            border-bottom-width: 2px;
            border-left-width: 3px;
            border-right-width: 3px;
            border-top-width: 4px;
        }
    }
}
