html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

// @import "content-sidebar";
// @import "sidebar-content";

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";

/*--------------------------------------------------------------
## Header and Main
--------------------------------------------------------------*/

.site {
    position: relative;
    background: linear-gradient(to bottom right, #fdfbfb, #ebedee);
}

.content-area {
    width: 100vw;
    height: 100vh;
}

.post {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &.kvothe {
        background: linear-gradient(to bottom right, #F2F2F2, #BCAA8E);
    }
    &.auri {
        background: linear-gradient(to bottom right, #fffcdc, #d9a7c7);
    }
    &.deoch {
        background: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    }
    &.bast {
        background: linear-gradient(to bottom right, #f2fcfe, #1c92d2);
    }
    &.arliden {
        background: linear-gradient(to bottom right, #f2fcfe, #AB8BEC);
    }
    &.skarpi {
        background: linear-gradient(to bottom right, #f2fcfe, #F2994A);
    }
    &.pat {
        background: linear-gradient(to bottom right, #eef2f3, #8e9eab);
    }
}

.site-header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.site-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

